* {
  font-family: 'Lora';
}

form {
  margin-top: -10px;
  background-color: #ece9d4;
}

h1 {
  margin: 10px 0 0 10px;
}

table {
  background-color: #881c1c;
  padding: 10px;
  margin-left: 10px;
  font-size: 20px;
}

p {
    background-color: #5b7f95;
    font-size: 30px;
    border: 1px solid;
    display: block;
    padding: 10px;
    margin: 0;
}

td {
  background-color: #5b7f95;
  padding: 10px;
  border: 1px solid;
}

.quantity .increment {
  display: block;
  margin-bottom: 5px;
}

.quantity .decrement {
  display: block;
  margin-top: 5px;
}

.quantity .ammount {
  font-size: 30px;
}

.quantity .ammount:after {
  content: '\00D7';
}

#checkout {
  margin: 10px 0 10px 10px;
  font-size: 30px;
}

#empty {
    margin: 10px 0 10px 10px;
    font-size: 30px;
}